var/cache
var/session
var/log
var/report
var/importexport
var/locks
var/import
var/export
media/catalog/product/cache/
/includes

app/etc/local.xml

downloader/.cache
downloader/cache.cfg
downloader/connect.cfg
.idea
cache.sh